<div class="search">
    <fieldset>

        <label for="search">
            Search :
            <input #search type="text" />
        </label>
        <button (click)="searchCharacter(search.value)"
            class="mt-4 px-4 py-2 bg-blue-500 text-white rounded"> Search</button>

    </fieldset>


</div>
    @if (isloading()) {
        <span class="loader"></span>
    }

<div class="paginations">
        @if(page > 10){
    <button (click)="page = page - 10;updatePage()"><<</button>
    }
    @if(page > 1){
    <button (click)="page = page - 1;updatePage()"><</button>
    }
    Page {{page}}/197
    @if (page >= 1 && page != 197) {
    <button (click)="page = page + 1;updatePage()">></button>
    }
        @if (page >= 1 && page != 197) {
    <button (click)="page = page + 10;updatePage()">>></button>
    }
</div>

<div class="card-container">
    @for (item of this.disneyCharacter()?.data; track $index ) {


    <div class="content">
        <img class="image" src="{{item.imageUrl}}" alt="">
        <a routerLink="/search/{{item._id}}" class="title">
            <span class="title">
                {{item.name}}
            </span>
        </a>

    </div>



    }
</div>