.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 205, 255);
    height: 150px;
    border-radius: 20px;
    gap: 10px;

}


.image {
    /* adjust the width of the image as needed */
    height: 100px;
    /* adjust the height of the image as needed */
    object-fit: contain;
    /* make the image fill the container */
    width: 10vw;
    min-width: 50px;
    aspect-ratio: 1 / 1;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    max-width: 25%;
}

@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}